<%= show_error_messages!(@sample_type) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SampleType).index? %>
        <%= link_to SampleType.model_name.human(count: 2), sample_types_path %>
      <% else %>
        <%= SampleType.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@sample_type).show? %>
        <%= link_to @sample_type.to_s, sample_type_path(@sample_type) %></li>
      <% else %>
        <%= @sample_type.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SampleTypesEditCtrl as editCtrl">
  <%= render 'form' %>
</div>
