<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to SampleType.model_name.human(count: 2), sample_types_path %></li>
    <li class="active"><%= t('index', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="main container" ng-controller="SampleTypesIndexCtrl as indexCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= SampleType.model_name.human(count: 2) %></h3>
      <div class="panel-toolbar">

        <% if policy(SampleType).new? %>
          <%= link_to new_sample_type_path, class: "btn btn-primary btn-panel-toolbar", data: { tooltip: 'tooltip' }, title: t('new_resource', scope: :crud_views, resource: SampleType.model_name.human) do %>
            <%= icon 'plus' %>
          <% end %>
        <% end -%>
      </div>
    </div>
    <% unless @sample_types.empty? %>
    <div class="table-responsive">
      <table class="table table-striped pretty">
        <thead>
          <tr>
            <th>#</th>
            <th><%= SampleType.human_attribute_name('name') %></th>
            <th><%= t('actions', scope: :crud_views) %></th>
          </tr>
        </thead>
        <tbody>
          <% @sample_types.each_with_index do |sample_type, index| %>
          <tr>
            <td><%= "#{index + 1}" %></td>
            <td><%= link_to sample_type, sample_type_path(sample_type) %></td>
            <td>
              <div class="btn-group" role="group">
                <% if policy(sample_type).show? %>
                  <%= link_to sample_type_path(sample_type), class: "btn btn-sm btn-default", data: { tooltip: 'tooltip', title: t('details', scope: :crud_views, resource: SampleType.model_name.human) } do %>
                    <%= icon 'eye'  %>
                  <% end -%>
                <% end -%>

                <% if policy(sample_type).edit? %>
                  <%= link_to edit_sample_type_path(sample_type), class: "btn btn-sm btn-primary", data: { tooltip: 'tooltip', title: t('edit', scope: :crud_views, resource: SampleType.model_name.human) } do %>
                    <%= icon 'pencil'  %>
                  <% end -%>
                <% end -%>

                <% if policy(sample_type).destroy? %>
                  <%= link_to sample_type_path(sample_type), class: "btn btn-sm btn-danger", data: { tooltip: 'tooltip', title: t('delete', scope: :crud_views, resource: SampleType.model_name.human), confirm: t('are_you_sure', scope: :crud_views) }, method: :delete do %>
                    <%= icon 'trash'  %>
                  <% end -%>
                <% end -%>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
    <% else %>
      <div class="panel-body">
        <div class="no-resources-found text-center text-muted">
          <h3><%= icon 'exclamation-triangle' %> <%= t('no_resources_found', scope: :crud_views, resources: SampleType.model_name.human(count: 2)) %>.</h3>
        </div>
      </div><!--/.panel-body-->
    <% end %>
    <% if @sample_types_filtered.size > @per_page %>
      <div class="panel-footer panel-footer-toolbox">
        <div class="pull-right">
          <%= will_paginate @sample_types, renderer: BootstrapPagination::Rails, inner_window: 2, outer_window: 0 %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'sample_type',
      'plural_name': 'sample_types',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for sample_types index view -->
<% end %>
