<%= show_error_messages!(@sample_type) %>

<div class="container"<%# ng-controller="sample_typesNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(SampleType).index? %>
        <%= link_to SampleType.model_name.human(count: 2), sample_types_path %>
      <% else %>
        <%= SampleType.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SampleTypesNewCtrl as newCtrl">
  <%= render 'form' %>
</div>
