<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(WorkOrder).index? %>
        <%= link_to WorkOrder.model_name.human(count: 2), work_orders_path %>
      <% else %>
        <%= WorkOrder.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @work_order.to_s, work_order_path(@work_order) %></li>
    <li><%= link_to Sample.model_name.human(count: 2), work_order_samples_path(@work_order) %></li>
    <li class="active"><%= t('index', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="main container" ng-controller="SamplesIndexCtrl as indexCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= Sample.model_name.human(count: 2) %></h3>
      <div class="panel-toolbar">
        <!--
        <%= form_tag samples_path, {method: :get, class: "form-inline", "role" => "form"} do %>
          <div class="input-group">
            <%= text_field_tag :q, nil, placeholder: t('search', scope: :crud_views), class: 'form-control' %>
            <span class="input-group-btn">
              <%= button_tag type: 'submit', class: 'btn btn-default btn-panel-toolbar', title: t('search_resources', scope: :crud_views, resources: Sample.model_name.human(count: 2)) , name: '' do %>
                <%= icon 'search' %>
              <% end -%>
            </span>
          </div>
        <% end %>
        -->
        <%= link_to work_order_samples_path(@work_order, format: "xls"), class: "btn btn-default btn-panel-toolbar", data: { tooltip: 'tooltip' }, title: t('export_resources', scope: :crud_views, resources: Sample.model_name.human(count: 2)) do %>
          <%= icon 'download' %>
        <% end %>

        <% if policy(Sample).new? %>
          <%= link_to new_work_order_sample_path(@work_order), class: "btn btn-primary btn-panel-toolbar", data: { tooltip: 'tooltip' }, title: t('new_resource', scope: :crud_views, resource: Sample.model_name.human) do %>
            <%= icon 'plus' %>
          <% end %>
        <% end -%>
      </div>
    </div>
    <% unless @samples.empty? %>
    <div class="table-responsive">
      <table class="table table-striped pretty">
        <thead>
          <tr>
            <th>#</th>
            <th><%= Sample.human_attribute_name('code') %></th>
            <th><%= Sample.human_attribute_name('sample_type') %></th>
            <th><%= t('actions', scope: :crud_views) %></th>
          </tr>
        </thead>
        <tbody>
          <% @samples.each_with_index do |sample, index| %>
          <tr>
            <td><%= "#{index + 1}" %></td>
            <td><%= sample.code %></td>
            <td><%= sample.sample_type %></td>
            <td>
              <div class="btn-group" role="group">
                <% if policy(sample).show? %>
                  <%= link_to work_order_sample_path(@work_order, sample), class: "btn btn-sm btn-default", data: { tooltip: 'tooltip', title: t('details', scope: :crud_views, resource: Sample.model_name.human) } do %>
                    <%= icon 'eye'  %>
                  <% end -%>
                <% end -%>

                <% if policy(sample).edit? %>
                  <%= link_to edit_work_order_sample_path(@work_order, sample), class: "btn btn-sm btn-primary", data: { tooltip: 'tooltip', title: t('edit', scope: :crud_views, resource: Sample.model_name.human) } do %>
                    <%= icon 'pencil'  %>
                  <% end -%>
                <% end -%>

                <% if policy(sample).destroy? %>
                  <%= link_to work_order_sample_path(@work_order, sample), class: "btn btn-sm btn-danger", data: { tooltip: 'tooltip', title: t('delete', scope: :crud_views, resource: Sample.model_name.human), confirm: t('are_you_sure', scope: :crud_views) }, method: :delete do %>
                    <%= icon 'trash'  %>
                  <% end -%>
                <% end -%>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
    <% else %>
      <div class="panel-body">
        <div class="no-resources-found text-center text-muted">
          <h3><%= icon 'exclamation-triangle' %> <%= t('no_resources_found', scope: :crud_views, resources: Sample.model_name.human(count: 2)) %>.</h3>
        </div>
      </div><!--/.panel-body-->
    <% end %>
    <% if @samples_filtered.size > @per_page %>
      <div class="panel-footer panel-footer-toolbox">
        <div class="pull-right">
          <%= will_paginate @samples, renderer: BootstrapPagination::Rails, inner_window: 2, outer_window: 0 %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'sample',
      'plural_name': 'samples',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for samples index view -->
<% end %>
