<%= show_error_messages!(@sample) %>

<div class="container"<%# ng-controller="samplesNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(WorkOrder).index? %>
        <%= link_to WorkOrder.model_name.human(count: 2), work_orders_path %>
      <% else %>
        <%= WorkOrder.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @work_order.to_s, work_order_path(@work_order) %></li>
    <li>
      <% if policy(Sample).index? %>
        <%= link_to Sample.model_name.human(count: 2), work_order_samples_path(@work_order) %>
      <% else %>
        <%= Sample.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SamplesNewCtrl as formCtrl">
  <%= render 'form' %>
</div>
