<%= show_error_messages!(@sample_type_version) %>

<div class="container"<%# ng-controller="sample_type_versionsNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(SampleTypeVersion).index? %>
        <%= link_to SampleTypeVersion.model_name.human(count: 2), sample_type_versions_path %>
      <% else %>
        <%= SampleTypeVersion.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SampleTypeVersionsNewCtrl as newCtrl">
  <%= render 'form' %>
</div>
