<%= show_error_messages!(@sample_type_version) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SampleTypeVersion).index? %>
        <%= link_to SampleTypeVersion.model_name.human(count: 2), sample_type_versions_path %>
      <% else %>
        <%= SampleTypeVersion.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @sample_type_version.to_s, sample_type_version_path(@sample_type_version) %></li>
    <li class="active"><%= t('details', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="container" ng-controller="SampleTypeVersionsShowCtrl as showCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= @sample_type_version %></h3>
      <div class="panel-toolbar">
        <%= link_to edit_sample_type_version_path(@sample_type_version), data: { tooltip: 'tooltip' }, class: "btn btn-primary", title: t('edit_resource', scope: :crud_views, resource: SampleTypeVersion.model_name.human) do %>
          <%= icon 'pencil' %>
        <% end %>

        <%= link_to @sample_type_version, method: :delete, data: { confirm: t('are_you_sure', scope: :crud_views), tooltip: 'tooltip' }, class: "btn btn-danger", title: t('delete_resource', scope: :crud_views, resource: SampleTypeVersion.model_name.human) do %>
          <%= icon 'trash' %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-show-item">
        <dt><%= SampleTypeVersion.human_attribute_name('sample_type') %></dt>
        <dd><%= @sample_type_version.sample_type %></dd>
        <dt><%= SampleTypeVersion.human_attribute_name('name') %></dt>
        <dd><%= @sample_type_version.name %></dd>
        <dt><%= SampleTypeVersion.human_attribute_name('data') %></dt>
        <dd>
          <% @sample_type_version.data['fields'].each do |field| %>
            <p>
              <%= field['name'] %>: <%= field['type'] %>
            </p>
          <% end %>
        </dd>
      </dl>
    </div>
    <div class="panel-footer panel-footer-toolbox">
      <div class="panel-toolbar">
        <%= link_to t('back', scope: :crud_views), sample_type_versions_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'sample_type_version',
      'plural_name': 'sample_type_versions',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for sample_type_versions show view -->
<% end %>
