<%= show_error_messages!(@specimen_group_relationship) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SpecimenGroupRelationship).index? %>
        <%= link_to SpecimenGroupRelationship.model_name.human(count: 2), specimen_group_relationships_path %>
      <% else %>
        <%= SpecimenGroupRelationship.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@specimen_group_relationship).show? %>
        <%= link_to @specimen_group_relationship.to_s, specimen_group_relationship_path(@specimen_group_relationship) %></li>
      <% else %>
        <%= @specimen_group_relationship.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SpecimenGroupRelationshipsEditCtrl as editCtrl">
  <%= render 'form' %>
</div>
