<%= show_error_messages!(@specimen_group_relationship) %>

<div class="container"<%# ng-controller="specimen_group_relationshipsNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(SpecimenGroupRelationship).index? %>
        <%= link_to SpecimenGroupRelationship.model_name.human(count: 2), specimen_group_relationships_path %>
      <% else %>
        <%= SpecimenGroupRelationship.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SpecimenGroupRelationshipsNewCtrl as newCtrl">
  <%= render 'form' %>
</div>
