<%= show_error_messages!(@specimen) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(WorkOrder).index? %>
        <%= link_to WorkOrder.model_name.human(count: 2), work_orders_path %>
      <% else %>
        <%= WorkOrder.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @work_order.to_s, work_order_path(@work_order) %></li>
    <li>
      <% if policy(Specimen).index? %>
        <%= link_to Specimen.model_name.human(count: 2), work_order_specimens_path(@work_order) %>
      <% else %>
        <%= Specimen.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@specimen).show? %>
        <%= link_to @specimen.to_s, work_order_specimen_path(@work_order, @specimen) %></li>
      <% else %>
        <%= @specimen.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SpecimensEditCtrl as formCtrl">
  <%= render 'form' %>
</div>
