<%= show_error_messages!(@specimen_group) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SpecimenGroup).index? %>
        <%= link_to SpecimenGroup.model_name.human(count: 2), specimen_groups_path %>
      <% else %>
        <%= SpecimenGroup.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@specimen_group).show? %>
        <%= link_to @specimen_group.to_s, specimen_group_path(@specimen_group) %></li>
      <% else %>
        <%= @specimen_group.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="SpecimenGroupsEditCtrl as editCtrl">
  <%= render 'form' %>
</div>
