<%= show_error_messages!(@test_type) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(TestType).index? %>
        <%= link_to TestType.model_name.human(count: 2), test_types_path %>
      <% else %>
        <%= TestType.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@test_type).show? %>
        <%= link_to @test_type.to_s, test_type_path(@test_type) %></li>
      <% else %>
        <%= @test_type.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="TestTypesEditCtrl as editCtrl">
  <%= render 'form' %>
</div>
