<%= show_error_messages!(@organisation) %>

<div class="container"<%# ng-controller="organisationsNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(Organisation).index? %>
        <%= link_to Organisation.model_name.human(count: 2), organisations_path %>
      <% else %>
        <%= Organisation.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="OrganisationsNewCtrl as newCtrl">
  <%= render 'form' %>
</div>
