<%= show_error_messages!(@specimen_type_version) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SpecimenTypeVersion).index? %>
        <%= link_to SpecimenTypeVersion.model_name.human(count: 2), specimen_type_versions_path %>
      <% else %>
        <%= SpecimenTypeVersion.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @specimen_type_version.to_s, specimen_type_version_path(@specimen_type_version) %></li>
    <li class="active"><%= t('details', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="container" ng-controller="SpecimenTypeVersionsShowCtrl as showCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= @specimen_type_version %></h3>
      <div class="panel-toolbar">
        <%= link_to edit_specimen_type_version_path(@specimen_type_version), data: { tooltip: 'tooltip' }, class: "btn btn-primary", title: t('edit_resource', scope: :crud_views, resource: SpecimenTypeVersion.model_name.human) do %>
          <%= icon 'pencil' %>
        <% end %>

        <%= link_to @specimen_type_version, method: :delete, data: { confirm: t('are_you_sure', scope: :crud_views), tooltip: 'tooltip' }, class: "btn btn-danger", title: t('delete_resource', scope: :crud_views, resource: SpecimenTypeVersion.model_name.human) do %>
          <%= icon 'trash' %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-show-item">
        <dt><%= SpecimenTypeVersion.human_attribute_name('specimen_type') %></dt>
        <dd><%= @specimen_type_version.specimen_type %></dd>
        <dt><%= SpecimenTypeVersion.human_attribute_name('name') %></dt>
        <dd><%= @specimen_type_version.name %></dd>
        <dt><%= SpecimenTypeVersion.human_attribute_name('data') %></dt>
        <dd><%= @specimen_type_version.data %></dd>
      </dl>
    </div>
    <div class="panel-footer panel-footer-toolbox">
      <div class="panel-toolbar">
        <%= link_to t('back', scope: :crud_views), specimen_type_versions_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'specimen_type_version',
      'plural_name': 'specimen_type_versions',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for specimen_type_versions show view -->
<% end %>
