<div class="main container">
  <%= form_for [@work_order, @lab_test], html: { class: "crud-form", role: "form" } do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= @lab_test.new_record? ? t('new_resource', scope: :crud_views, resource: LabTest.model_name.human) : @lab_test.to_s %></h3>
      <div class="panel-toolbar">
        <% if action_name == 'edit' or action_name == 'update' %>
          <%= link_to work_order_lab_test_path(@work_order, @lab_test), method: :delete, data: { confirm: t('are_you_sure', scope: :crud_views), tooltip: 'tooltip' }, class: "btn btn-danger", title: t('delete_resource', scope: :crud_views, resource: LabTest.model_name.human) do %>
            <%= icon 'trash' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :started_at, class: "control-label" %>
        <%= f.datetime_local_field :started_at, class: "form-control" %>
      </div><!-- /.form-group -->
      <div class="form-group">
        <%= f.label :ended_at, class: "control-label" %>
        <%= f.datetime_local_field :ended_at, class: "form-control" %>
      </div><!-- /.form-group -->
      <div class="form-group">
        <%= f.label :specimen_id, class: "control-label" %>
        <%= f.collection_select :specimen_id, @work_order.specimens, :id, :to_s, { prompt: true} , { class: 'form-control' }  %>
      </div><!-- /.form-group -->
      <div class="form-group">
        <%= f.label :test_status_id, class: "control-label" %>
        <%= f.collection_select :test_status_id, TestStatus.all, :id, :to_s, { prompt: true} , { class: 'form-control' }  %>
      </div><!-- /.form-group -->
      <div class="form-group">
        <%= f.label :tested_by_id, class: "control-label" %>
        <%= f.collection_select :tested_by_id, User.all, :id, :to_s, { prompt: true} , { class: 'form-control' }  %>
      </div><!-- /.form-group -->
      <div class="form-group">
        <%= f.label :test_type_version_id, class: "control-label" %>
        <%= f.collection_select :test_type_version_id, @test_type_versions, :id, :to_s, { prompt: true} , { class: 'form-control', 'ng-model': 'formCtrl.testTypeVersionId', 'ng-init': "formCtrl.testTypeVersionId='#{@lab_test.test_type_version_id}'", 'ng-change': 'formCtrl.updateTemplate()' } %>
      </div><!-- /.form-group -->

      <dynamic-filler name="lab_test[data]" template="formCtrl.dynamicTemplate" value="<%= @lab_test.data %>"></dynamic-filler>
    </div><!-- /.panel-body -->
    <div class="panel-footer panel-footer-toolbox">
      <div class="panel-toolbar pull-right">
        <% if action_name == 'edit' or action_name == 'update' %>
          <%= link_to t('cancel', scope: :crud_views), work_order_lab_test_path(@work_order, @lab_test), class: "btn btn-default" %>
        <% else %>
          <%= link_to t('cancel', scope: :crud_views), work_order_lab_tests_path(@work_order), class: "btn btn-default" %>
        <% end %>
        <%= f.submit class: "btn btn-success" %>
      </div><!-- /.panel-toolbar -->
    </div><!-- /.panel-footer -->
  </div><!-- /.panel -->
  <% end %>
</div><!-- /.container -->

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'lab_test',
      'plural_name': 'lab_tests',
    },
    'action_name': '<%= action_name %>',
    'test': '<%= @lab_test.to_json.html_safe %>',
    'testTypeVersions': '<%= TestTypeVersion.all.to_json.html_safe %>',
    'testTypeVersion': '<%= @lab_test.test_type_version.to_json.html_safe %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for lab_tests _form view -->
<% end %>
