<%= show_error_messages!(@lab_test) %>

<div class="container"<%# ng-controller="lab_testsNewCtrl" %>>
  <ol class="breadcrumb">
    <li>
      <% if policy(WorkOrder).index? %>
        <%= link_to WorkOrder.model_name.human(count: 2), work_orders_path %>
      <% else %>
        <%= WorkOrder.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @work_order.to_s, work_order_path(@work_order) %></li>
    <li>
      <% if policy(LabTest).index? %>
        <%= link_to LabTest.model_name.human(count: 2), lab_tests_path %>
      <% else %>
        <%= LabTest.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li class="active"><%= t('new', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="LabTestsNewCtrl as newCtrl">
  <%= render 'form' %>
</div>
