<%= show_error_messages!(@picture) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(Picture).index? %>
        <%= link_to Picture.model_name.human(count: 2), pictures_path %>
      <% else %>
        <%= Picture.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @picture.to_s, picture_path(@picture) %></li>
    <li class="active"><%= t('details', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="container" ng-controller="PicturesShowCtrl as showCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= @picture %></h3>
      <div class="panel-toolbar">
        <%= link_to edit_picture_path(@picture), data: { tooltip: 'tooltip' }, class: "btn btn-primary", title: t('edit_resource', scope: :crud_views, resource: Picture.model_name.human) do %>
          <%= icon 'pencil' %>
        <% end %>

        <%= link_to @picture, method: :delete, data: { confirm: t('are_you_sure', scope: :crud_views), tooltip: 'tooltip' }, class: "btn btn-danger", title: t('delete_resource', scope: :crud_views, resource: Picture.model_name.human) do %>
          <%= icon 'trash' %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-show-item">
        <dt><%= Picture.human_attribute_name('local_id') %></dt>
        <dd><%= @picture.local_id %></dd>
        <dt><%= Picture.human_attribute_name('sample') %></dt>
        <dd><%= @picture.sample %></dd>
        <dt><%= Picture.human_attribute_name('specimen') %></dt>
        <dd><%= @picture.specimen %></dd>
        <dt><%= Picture.human_attribute_name('lab_test') %></dt>
        <dd><%= @picture.lab_test %></dd>
      </dl>
    </div>
    <div class="panel-footer panel-footer-toolbox">
      <div class="panel-toolbar">
        <%= link_to t('back', scope: :crud_views), pictures_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'picture',
      'plural_name': 'pictures',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for pictures show view -->
<% end %>
