<%= show_error_messages!(@specimen_type) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(SpecimenType).index? %>
        <%= link_to SpecimenType.model_name.human(count: 2), specimen_types_path %>
      <% else %>
        <%= SpecimenType.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li><%= link_to @specimen_type.to_s, specimen_type_path(@specimen_type) %></li>
    <li class="active"><%= t('details', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="container" ng-controller="SpecimenTypesShowCtrl as showCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= @specimen_type %></h3>
      <div class="panel-toolbar">
        <%= link_to edit_specimen_type_path(@specimen_type), data: { tooltip: 'tooltip' }, class: "btn btn-primary", title: t('edit_resource', scope: :crud_views, resource: SpecimenType.model_name.human) do %>
          <%= icon 'pencil' %>
        <% end %>

        <%= link_to @specimen_type, method: :delete, data: { confirm: t('are_you_sure', scope: :crud_views), tooltip: 'tooltip' }, class: "btn btn-danger", title: t('delete_resource', scope: :crud_views, resource: SpecimenType.model_name.human) do %>
          <%= icon 'trash' %>
        <% end %>
      </div>
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal dl-show-item">
        <dt><%= SpecimenType.human_attribute_name('name') %></dt>
        <dd><%= @specimen_type.name %></dd>
        <% if @specimen_type.data %>
          <dt><%= SpecimenType.human_attribute_name('data') %></dt>
          <dd>
            <% @specimen_type.data['fields'].each do |field| %>
              <p>
                <%= field['name'] %>: <%= field['type'] %>
              </p>
            <% end %>
          </dd>
        <% end %>
      </dl>
    </div>
    <div class="panel-footer panel-footer-toolbox">
      <div class="panel-toolbar">
        <%= link_to t('back', scope: :crud_views), specimen_types_path, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'specimen_type',
      'plural_name': 'specimen_types',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for specimen_types show view -->
<% end %>
