<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to WorkOrder.model_name.human(count: 2), work_orders_path %></li>
    <li class="active"><%= t('index', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="main container" ng-controller="WorkOrdersIndexCtrl as indexCtrl">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-toolbox">
      <h3 class="panel-title"><%= WorkOrder.model_name.human(count: 2) %></h3>
      <div class="panel-toolbar">
        <!-- <%= form_tag work_orders_path, {method: :get, class: "form-inline", "role" => "form"} do %>
          <div class="input-group">
            <%= text_field_tag :q, nil, placeholder: t('search', scope: :crud_views), class: 'form-control' %>
            <span class="input-group-btn">
              <%= button_tag type: 'submit', class: 'btn btn-default btn-panel-toolbar', title: t('search_resources', scope: :crud_views, resources: WorkOrder.model_name.human(count: 2)) , name: '' do %>
                <%= icon 'search' %>
              <% end -%>
            </span>
          </div>
        <% end %> -->

        <% if policy(WorkOrder).new? %>
          <%= link_to new_work_order_path, class: "btn btn-primary btn-panel-toolbar", data: { tooltip: 'tooltip' }, title: t('new_resource', scope: :crud_views, resource: WorkOrder.model_name.human) do %>
            <%= icon 'plus' %>
          <% end %>
        <% end -%>
      </div>
    </div>
    <% unless @work_orders.empty? %>
    <div class="table-responsive">
      <table class="table table-striped pretty">
        <thead>
          <tr>
            <th>#</th>
            <th><%= WorkOrder.human_attribute_name('name') %></th>
            <th><%= WorkOrder.human_attribute_name('due_date') %></th>
            <th><%= WorkOrder.human_attribute_name('responsible') %></th>
            <th><%= WorkOrder.human_attribute_name('work_order_status') %></th>
            <th><%= WorkOrder.human_attribute_name('organisation') %></th>
            <th><%= t('actions', scope: :crud_views) %></th>
          </tr>
        </thead>
        <tbody>
          <% @work_orders.each_with_index do |work_order, index| %>
          <tr>
            <td><%= "#{index + 1}" %></td>
            <td><%= link_to work_order, work_order_path(work_order) %></td>
            <td><%= work_order.due_date %></td>
            <td><%= work_order.responsible %></td>
            <td><%= work_order.work_order_status %></td>
            <td><%= work_order.organisation %></td>
            <td>
              <div class="btn-group" role="group">
                <% if policy(work_order).show? %>
                  <%= link_to work_order_path(work_order), class: "btn btn-sm btn-default", data: { tooltip: 'tooltip', title: t('details', scope: :crud_views, resource: WorkOrder.model_name.human) } do %>
                    <%= icon 'eye'  %>
                  <% end -%>
                <% end -%>

                <% if policy(work_order).edit? %>
                  <%= link_to edit_work_order_path(work_order), class: "btn btn-sm btn-primary", data: { tooltip: 'tooltip', title: t('edit', scope: :crud_views, resource: WorkOrder.model_name.human) } do %>
                    <%= icon 'pencil'  %>
                  <% end -%>
                <% end -%>

                <% if policy(work_order).destroy? %>
                  <%= link_to work_order_path(work_order), class: "btn btn-sm btn-danger", data: { tooltip: 'tooltip', title: t('delete', scope: :crud_views, resource: WorkOrder.model_name.human), confirm: t('are_you_sure', scope: :crud_views) }, method: :delete do %>
                    <%= icon 'trash'  %>
                  <% end -%>
                <% end -%>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.table-responsive -->
    <% else %>
      <div class="panel-body">
        <div class="no-resources-found text-center text-muted">
          <h3><%= icon 'exclamation-triangle' %> <%= t('no_resources_found', scope: :crud_views, resources: WorkOrder.model_name.human(count: 2)) %>.</h3>
        </div>
      </div><!--/.panel-body-->
    <% end %>
    <% if @work_orders_filtered.size > @per_page %>
      <div class="panel-footer panel-footer-toolbox">
        <div class="pull-right">
          <%= will_paginate @work_orders, renderer: BootstrapPagination::Rails, inner_window: 2, outer_window: 0 %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :js_rails_data do %>
<script type="text/javascript">
  <%# Data here will be passed to angular js %>
  var rails_data = {
    'resource': {
      'singular_name': 'work_order',
      'plural_name': 'work_orders',
    },
    'action_name': '<%= action_name %>'
  }
</script>
<% end %>

<% content_for :script do %>
  <!-- Put your script code specific for work_orders index view -->
<% end %>
