<%= render "layouts/html_tag_no_login" %>

<!-- HEADER -->
<%= render "layouts/header" %>
<!-- END OF HEADER -->

<%= render "layouts/subheader_no_login" %>
<%= render "layouts/topmenu_no_login" %>

<!-- APP YIELD -->
<div class="main-section">
<%= yield %>
</div><!-- /.main-section -->
<!-- END OF APP YIELD -->

<!-- FOOTER -->
<%= render "layouts/subfooter" %>
<%= render "layouts/footer" %>
<!-- END OF FOOTER -->
