<%= show_error_messages!(@parameter) %>

<div class="container">
  <ol class="breadcrumb">
    <li>
      <% if policy(Parameter).index? %>
        <%= link_to Parameter.model_name.human(count: 2), parameters_path %>
      <% else %>
        <%= Parameter.model_name.human(count: 2) %>
      <% end -%>
    </li>
    <li>
      <% if policy(@parameter).show? %>
        <%= link_to @parameter.to_s, parameter_path(@parameter) %></li>
      <% else %>
        <%= @parameter.to_s %></li>
      <% end -%>
    <li class="active"><%= t('edit', scope: :breadcrumb) %></li>
  </ol>
</div>

<div class="form-wrapper" ng-controller="ParametersEditCtrl as editCtrl">
  <%= render 'form' %>
</div>
